/*reset css*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body{
    width: 100dvw;
    height: 100dvh;
    display: flex; 
    flex-direction: column;
    
}
.container{
    display: flex;
    flex-direction: column;    
    flex: 1;
    background: linear-gradient(#fffd82a8, #ff9c7181, #e8485575, #b56a458f, #2b3a678f);
    
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;    
    padding: 10px;
    text-align: center;
}
header nav{
    display: flex;
    gap: 10px;
    border-radius: 10px;
    margin-right: 20px;
}
header>div{
    display: flex;
}
header>div>img{
    justify-content: center;
    align-items: center;
}
input{
    text-align: center;
    border-radius: 8px solid #000;
}
main{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
main>p{
    margin: 20px;
}
.border{
      color: #222;
      border: 1.5px solid #888;
      border-radius: 6px;
      padding: 4px 12px;
      background: #dddddd8e;      
}
section{
    display: flex; 
    padding: 20px;   
    justify-content: center;
    align-items: center;    
    gap: 20px;
}

section > div {
    width: 500px;   
    height: 500px;  
    flex-shrink: 0; /*impede que a imgm encolha de tamanho */
}
section>div>img{
    max-height: 500px;
    max-width: 700px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid black;
    padding: 20px;
}
section > article > div {
    margin: 10px;
    padding: 12px 14px;
    overflow-y: auto;    /*aparece scroll se descrição passar da altura */
}

section > article > div > h3 {    
    word-break: break-word; /* quebra descrições longas */
}
.buttonEnd{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    gap: 20px;
}
.buttonEnd button {
    flex: 1;              
    cursor: pointer;
    padding: 8px;
    border-radius: 2px;
}
#btnEnviar{
    cursor: pointer;
}